body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
}

a {
  color: #00B7FF;
}

.outerborder {
  border-style: ridge;
  border-width: 5px;
  white-space: pre-line;
  line-height: 70px;
}

.borderstyle {
  border-style: outset;
  border-width: 1.2px;
  border-radius: 2px;
  width: 300px;
  height: 30px;
  padding: 5px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}